@define-color background #0f181f;

* {
    margin:0;
    padding:0;
    border-radius:0;
    border: none;
}
window#waybar {
    /* background-color: alpha(@background, 0.6); */
    color: @base05;
    background-color: alpha(#fff, 0);
}

#workspaces{
    /* margin: 5px 20px; */
    padding:0px;
}

/* #workspaces button{ */
    /* border-radius: 15px; */
    /* padding: 1px 10px; */
    /* font-weight: bolder; */
    /* background-color: @base01; */
    /* color: darker(@base05); */
/* } */

#workspaces button {
    margin: 0px;
    border-radius: 2px;
    padding: 0 10px 0 5px;
}

#workspaces button:hover {
    border-width: 0;
    box-shadow: none;
    color: @base0C;
    background-color:alpha(#fff, 0);
    background-image:none;
    -gtk-icon-effect: none;
}

#workspaces button.active, #workspaces button.focused{
    /* padding: 1px 22px; */
    margin: 0px;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px in*/
    /* box-shadow: alpha(@base02, 0.3) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    background: lighter(@base04);
    color: @base00;
}

#tray,
#mpd,
#custom-weather,
#cpu,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock,
.custom-spotify,
#network {
    padding: 0px 5px;
}

.modules-left, .modules-right {
    background-color: darker(@base01);
    margin: 5px 10px;
    border-radius: 5px;
    padding: 5px 15px;
    border-color: @base04;
    border-width: 1px;
    border-style: solid;
    color: @base0C;
}

.modules-center {
    background-color: darker(@base01);
    border-radius:5px;
    border-color: @base04;
    border-width:1px;
    border-style: solid;
    padding: 0px;
    margin: 5px 0;
    color: @base0C;
    background-clip: padding-box;
}
